<h1>Units</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Type</th>
      <th>Terrain</th>
      <th>Hyperdrive</th>
      <th>Faction</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= image_tag("#{unit.image}", size: "100x100") %></td>
        <td><%= unit.name %></td>
        <td><%= unit.type %></td>
        <td><%= unit.terrain %></td>
        <td><%= unit.hyperdrive %></td>
        <td><%= unit.factions %>( mask: <%= unit.faction_mask %>)</td>
      </tr>
    <% end %>
  </tbody>
</table>
