<p id="notice"><%= notice %></p>

<p>
  <b>Sender:</b>
  <%= @message.sender %>
</p>

<p>
  <b>Receiver:</b>
  <%= @message.receiver %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Body:</b>
  <%= @message.body %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
