<h1>Setup do XWSG</h1>
<div class="setups">
  <%= simple_form_for @setup do |f| %>
    <%= f.input :initial_credits, label: 'Creditos: ', collection: (6000..12000).step(1000) %>
    <%= f.input :initial_planets, label: 'Planetas:', collection: (1..3) %>
    <%= f.input :initial_wormholes, label: 'Wormholes:', collection: (1..3) %>
    <%= f.input :planet_income_ratio, label: 'Income rate:', collection: (10..100).step(10) %>
    <%= f.input :minimum_fleet_for_dominate, label: 'Frota para dominar:', collection: (5000..30000).step(1000) %>
    <%= f.input :builder_unit, label: 'Unidade construtora:', collection: @units %>
    <%= f.input :minimum_fleet_for_build, label: 'Minimo para construir:', collection: (1..100) %>
    <%= f.input :upgrade_cost, label: 'Custo de upgrade:', collection: (500..2000).step(500) %>
    <%= f.input :ai, label: ' AI Squad:', as: :boolean %>
    <%= f.input :ai_level, collection: 1..6, label: 'AI Level:' %>
    <br>
    <%= f.submit 'Salvar Alterações' %>
  <% end %>
</div>
<h1>Reset e Turnos</h1>
<div class="setups">
  <%= link_to 'NEW GAME - Iniciar partida', setups_new_game_path if Squad.first.credits == 0  %>
  <br><br>
  Fase atual: <%= @round.phase %>
  <br><br>
  <%= link_to 'FINALIZAR TURNO', setups_finaliza_turno_path, onclick: "return confirm('Virar turno para todos! Confirma?')" %> - Virar o turno para todos
  <br><br>
</div>
