<table style="width: 100%">
  <tr style="height: 100%; width: 100%">
    <td>
      <div class="edit_fleets" style="display: inline-block; height: 100%">
        <div id="available_capacity">
          Embarcados: (<%= @fleet.capacity - @fleet.available_capacity %> / <%= @fleet.capacity %>)
        </div>
        <div class="form-inputs">
          <% if @fleet.cargo.count > 0 %>
            <% @fleet.cargo.each do |fleet| %>
              <%= simple_form_for @fleet, url: url_for(action: 'disembark') do |f| %>
                <table>
                  <tr>
                    <td>
                      <span style="<%= style(fleet) %>">
                        <%= show(fleet) %>
                      </span>
                    </td>
                    <%= simple_fields_for :custom do |c| %>
                      <%= c.hidden_field :id, value: fleet.id %>
                      <td><%= c.input :quantity, collection: 1..fleet.quantity, label: false if @round.strategy? %></td>
                    <% end %>
                    <td><%= f.submit '->' if @round.strategy? %></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </td>
    <td>
      <--<br><br>
      -->
    </td>
    <td style="height: 100%; width: 100%">
      <div class="edit_fleets" style="display: inline-block; height: 100%; width: 100%">
        <div id="available_capacity">
          Disponíveis:
        </div>
        <div class="form-inputs">
          <% if @carriables.count > 0 && @round.strategy?%>
            <% @carriables.each do |fleet| %>
              <%= simple_form_for @fleet, url: url_for(action: 'embark') do |f| %>
                <table>
                  <tr>
                    <td>
                      <span style="<%= style(fleet) %>">
                        <%= show(fleet) %>
                      </span>
                    </td>
                    <%= simple_fields_for :custom do |c| %>
                      <%= c.hidden_field :id, value: fleet.id, label: false %>
                      <td><%= c.input :quantity, collection: 1..fleet.quantity, label: false %></td>
                    <% end %>
                    <td><%= f.submit '<-' %></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <td>
  </tr>
</table>
