<div id="fleet_image">
  <%= image_tag (@fleet.image), style: "width: 30%" %>
</div>

<div id="fleet_quantity" style="color: <%= @fleet.squad.color %>; font-weight: bold; font-size: 10px">
  <%= @fleet.quantity %>
</div>

<% if @fleet.movable? %>
  <%= simple_form_for @fleet, url: url_for(action: 'move') do |f| %>
    <%= f.input :quantity, collection: 0..@fleet.quantity %>
    <%= f.input :destination, collection: @destinations %>
    <%= f.button :submit %>
  <% end %>
<% end %>

<% if @fleet.embarkables %>
  <% @fleet.embarkables.each do |fleet| %>
    <%= simple_form_for @fleet, url: url_for(action: 'embark') do |f| %>
      <%= simple_fields_for :custom do |c| %>
        <%= c.input :quantity, as: :integer, collection: 0..fleet.quantity %>
      <% end %>
      <%= f.button :submit %>
    <% end %>
  <% end %>
<% end %>
