<div id="fleet_image">
  <%= image_tag (@fleet.image), style: "width: 30%" %>
</div>

<div id="fleet_quantity" style="color: <%= @fleet.squad.color %>; font-weight: bold">
  <%= quantity(@fleet) %>
</div>

<div id="available_capacity">
  Capacity: <%= @fleet.available_capacity %>
</div>


<div class="form-inputs">
  <% if @fleet.movable? %>
    <%= simple_form_for @fleet, url: url_for(action: 'move') do |f| %>
      <table>
        <tr>
          <td><%= f.input :quantity, collection: 0..@fleet.quantity, label: false %></td>
          <td><%= f.input :destination, collection: @destinations, label: false %></td>
          <td><%= f.submit 'Move!' %></td>
        </tr>
      </table>
    <% end %>
  <% end %>
</div>

<div class="form-inputs">
  <% if @fleet.cargo.count > 0 %>
    <% @fleet.cargo.each do |fleet| %>
      <%= simple_form_for @fleet, url: url_for(action: 'disembark') do |f| %>
        <table>
          <tr>
            <td><%= image_tag fleet.image, style: "width: 20%" %></td>
            <%= simple_fields_for :custom do |c| %>
              <%= c.hidden_field :id, value: fleet.id %>
              <td><%= c.input :quantity, collection: 1..fleet.quantity, label: false %></td>
            <% end %>
            <td><%= f.submit 'Out' %></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="form-inputs">
  <% if @carriables.count > 0 %>
    <% @carriables.each do |fleet| %>
      <%= simple_form_for @fleet, url: url_for(action: 'embark') do |f| %>
        <table>
          <tr>
            <td><%= image_tag fleet.image, style: "width: 20%" %></td>
            <%= simple_fields_for :custom do |c| %>
              <%= c.hidden_field :id, value: fleet.id, label: false %>
              <td><%= c.input :quantity, collection: 1..fleet.quantity, label: false %></td>
            <% end %>
            <td><%= f.submit 'In' %></td>
          </tr>
        </table>
      <% end %>
    <% end %>
  <% end %>
</div>

