<div id="fleet_image">
  <%= image_tag (@fleet.image), style: "width: 30%" %>
</div>

<div id="fleet_quantity" style="color: <%= @fleet.squad.color %>; font-weight: bold; font-size: 10px">
  <%= @fleet.quantity %>
</div>

<br />

<div class="form-inputs">
  <% if @fleet.movable? %>
    Move: <br />
    <%= simple_form_for @fleet, url: url_for(action: 'move') do |f| %>
      <%= f.input :quantity, collection: 0..@fleet.quantity %>
      <%= f.input :destination, collection: @destinations %>
      <%= f.submit 'Move!' %>
    <% end %>
  <% end %>
</div>

<br />

<div class="form-inputs">
  <% if @fleet.carriables.count > 0 %>
    Carriables: <br />
    <% @fleet.carriables.each do |fleet| %>
      <%= fleet.name %>
      <%= simple_form_for @fleet, url: url_for(action: 'embark') do |f| %>
        <%= simple_fields_for :custom do |c| %>
          <%= c.hidden_field :id, value: fleet.id %>
          <%= c.input :quantity, collection: 0..fleet.quantity %>
        <% end %>
        <%= f.submit 'Embark' %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="form-inputs">
  <% if @fleet.cargo %>
    Cargo: <br />
    <% @fleet.cargo.each do |fleet| %>
      <%= fleet.name %>
      <%= simple_form_for @fleet, url: url_for(action: 'disembark') do |f| %>
        <%= simple_fields_for :custom do |c| %>
          <%= c.hidden_field :id, value: fleet.id %>
          <%= c.input :quantity, collection: 0..fleet.quantity %>
        <% end %>
        <%= f.submit 'Disembark' %>
      <% end %>
    <% end %>
  <% end %>
</div>
