<% @moving_fleets.each do |fleet| %>
  <% if fleet.carrier == nil  %>
    <div id="fleet_image">
      <span style="<%= style(fleet) %>">
        <%= quantity(fleet) %>
      </span>
      <%= image_tag (fleet.unit.image), style: "width: 15%" %> <%= fleet.destination.name %> in <%= fleet.arrives_in %> rounds
    </div>
  <% end %>

  <% fleet.cargo.each do |cargo| %>
    <div id="cargo_image">
      <span style="<%= style(cargo) %>">
        <%= quantity(cargo) %>
      </span>
      <%= image_tag (cargo.unit.image), style: "width: 12%" %>
    </div>
  <% end %>
<% end %>
