<div class="edit_fleets">
  <div class="form-inputs">
    <table>
      <tr>
        <td>
          Nivel Atual: <%= @fleet.level %> &nbsp &nbsp
        </td>
        <%= simple_form_for @fleet, url: url_for(action: 'upgrade') do |f| %>
          <%= simple_fields_for :custom do |c| %>
            <%= c.hidden_field :id, value: @fleet.id %>
          <% end %>
          <td>Custo: $<%= @setup.upgrade_cost %> para nível 3 - Radar: &nbsp &nbsp </td>
          <td><%= f.submit 'Upgrade', :onclick => "return confirm('Custo: #{@setup.upgrade_cost}. Confirma?')" %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>
