<div class="edit_fleets">
  <table>
    <tr>
      <td>
        <div id="fleet_image">
          <%= image_tag (@fleet.image), style: "width: 100px; border: 1px solid #ddd; border-radius: 4px; padding: 5px" unless @fleet.image.nil? %>
        </div>
      </td>
      <td>
        <div id="fleet_name" style="<%= style(@fleet) %>; font-size: 20px; text-align: center">
          <%= show(@fleet) %>
        </div>
        <div id="planet" style="color: white; font-size: 16px; text-align: center">
          <%= @fleet.planet.name %>
        </div>
        <br>
        <div class="form-inputs">
          <% if @fleet.movable? && @round.strategy? %>
            <%= simple_form_for @fleet, url: url_for(action: 'move') do |f| %>
              <table>
                <tr>
                  <td><%= f.input :quantity, collection: 0..@fleet.quantity, label: false %></td>
                  <td><%= f.input :destination, collection: @destinations, label: false %></td>
                  <td><%= f.submit 'Mover' %></td>
                </tr>
              </table>
            <% end %>
          <% end %>
        </div>
        <br>
        <% if @fleet.destination %>
          <div class="img_container">
            <%= image_tag ("fleets/hyperspace.gif") %>
            <div class="centered"> <%= "#{@fleet.destination.name}" %> </div>
          </div>
        <% end %>
      </td>
    </tr>
  </table>
</div>

<% if @fleet.builder? && @round.strategy? %>
  <%= render partial: 'builders' %>
<% end %>

<% if @fleet.loadable? %>
  <%= render partial: 'carriers', object: @fleet  %>
<% end %>
