<div class="edit_fleets">
  <table>
    <tr>
      <td>
        <div id="fleet_image">
          <%= image_tag (@fleet.image), style: "width: 100px; border: 1px solid #ddd; border-radius: 4px; padding: 5px" unless @fleet.image.nil? %>
        </div>
      </td>
      <td>
        <div id="fleet_name" style="color: <%= @fleet.squad.color %>; font-weight: bold">
          <%= show(@fleet) %>
          <br>
          <div class="form-inputs">
            <% if @fleet.movable? %>
              <%= simple_form_for @fleet, url: url_for(action: 'move') do |f| %>
                <table>
                  <tr>
                    <td><%= f.input :quantity, collection: 0..@fleet.quantity, label: false %></td>
                    <td><%= f.input :destination, collection: @destinations, label: false %></td>
                    <td><%= f.submit 'Mover' %></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<table>
  <tr>
    <td>
      <div class="edit_fleets">
        <div id="available_capacity">
          Embarcados: (<%= @fleet.available_capacity %> / <%= @fleet.capacity %>)
        </div>
        <div class="form-inputs">
          <% if @fleet.cargo.count > 0 %>
            <% @fleet.cargo.each do |fleet| %>
              <%= simple_form_for @fleet, url: url_for(action: 'disembark') do |f| %>
                <table>
                  <tr>
                    <td>
                      <span style="<%= style(fleet) %>">
                        <%= show(fleet) %>
                      </span>
                    </td>
                    <%= simple_fields_for :custom do |c| %>
                      <%= c.hidden_field :id, value: fleet.id %>
                      <td><%= c.input :quantity, collection: 1..fleet.quantity, label: false %></td>
                    <% end %>
                    <td><%= f.submit '->' %></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </td>
    <td>
      <--<br><br>
      -->
    </td>
    <td>
      <div class="edit_fleets">
        <div id="available_capacity">
          Disponíveis:
        </div>
        <div class="form-inputs">
          <% if @carriables.count > 0 %>
            <% @carriables.each do |fleet| %>
              <%= simple_form_for @fleet, url: url_for(action: 'embark') do |f| %>
                <table>
                  <tr>
                    <td>
                      <span style="<%= style(fleet) %>">
                        <%= show(fleet) %>
                      </span>
                    </td>
                    <%= simple_fields_for :custom do |c| %>
                      <%= c.hidden_field :id, value: fleet.id, label: false %>
                      <td><%= c.input :quantity, collection: 1..fleet.quantity, label: false %></td>
                    <% end %>
                    <td><%= f.submit '<-' %></td>
                  </tr>
                </table>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    <td>
  </tr>
</table>
</div>
