<% @rounds.sort_by{|a| a.number}.reverse.each do |round| %>
  <% current_round = false %>
  <% current_round = true if round == @round && @round.space_combat? %>
  <h1>Round: <%= round.number %></h1>
  <% round.results.group_by(&:planet).each do |planet, fleet| %>
    <div class="results">
      <table>
        <tr>
          <td rowspan="<%= fleet.count + 10 %>" align="center" valign="top">
            <h2><%= planet.name %></h2>
            <%= image_tag (planet.image), style: "width: 70px" %><br><br>
            <%= raw fleet.first.description %>
          </td>
        </tr>
        <% if current_round %>
          <td></td><td>Dest:</td><td>Fugiu:</td><td>Capt:</td><td>Capturador:</td>
        <% end %>
        <%= form_tag "results" do %>

          <% fleet.each do |unit| %>
            <tr valign="center">
              <%= simple_fields_for "results[]", unit do |f| %>
                <td>
                  <span style="<%= style(unit) %>">
                    <info class="tooltip">
                    <tip><%= raw tip(unit) %></tip>
                      <%= raw "&nbsp &nbsp" if unit.carrier %> <%= show(unit) %>
                      <span style="color: white">
                        <%= show_result(unit) %>
                      </span>
                    </info>

                  </span>
                </td>
                <% if current_round %>
                  <td><%= f.input :blasted, label: false, input_html: { maxlength: 3, size: 1 } %></td>
                  <td><%= f.input :fled, label: false, input_html: { maxlength: 3, size: 1 }  %></td>
                  <td><%= f.input :captured, label: false, input_html: { maxlength: 3, size: 1 }  %></td>
                  <td><%= f.association :captor, collection: @enemies.reject { |squad| squad == unit.squad }, label: false %></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
          <tr>
            <td align="center">
              <%= submit_tag 'Salvar' if current_round %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
<% end %>
