<table>
  <tr>
    <td>
      <info class="tooltip">
        <tip>Config do Sistema</tip>
        <a href = "" onclick="window.open('/squads/<%= @squad.id %>/edit', 'Config Squad', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=350, height=280')">
        <%= image_tag (@squad.image), style: "width: 50px" %>
      </info>
    </td>
    <td>
      <span style="color:<%= @squad.color %>;font-size: 20px; font-weight: bold">
        <%= @squad.name %>
      </span>
    </td>
    <td>
      <span style="font-size: 18px; font-weight: bold">
        Turno: <%= @round.number %><br>
        <%= @round.phase.upcase_first %>
      </span>
    </td>
    <td>Messages / Galaxy News / Ready? <%= @squad.ready? %></td>
    <td>
      <%= simple_form_for @squad do |f| %>
        <%= f.submit 'Ready!' %>
      <% end %>
    </td>

    <td><%= image_tag ('squads/yellow01.png'), style: "width: 25px" %></td>
    <td><%= @squad.credits %></td>
  </tr>
</table>
