<table style="text-align: left">
  <tr>
    <td colspan="2" style="text-align:center">
      <info class="tooltip">
      <tip>Config do Sistema</tip>
        <a href = "" onclick="window.open('/squads/<%= @squad.id %>/edit', 'Config Squad', 'toolbar=no, location=no, scrollbars=yes, resizable=no, width=350, height=280')">
        <%= image_tag (@squad.image), style: "width: 70px" %>
      </info>
    </td>
  <tr>
    <td colspan="2" style="text-align:center">
      <span style="color:<%= @squad.color %>;font-size: 24px; font-weight: bold">
        <%= @squad.name %>
      </span>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center">
      <span style="font-size: 18px; font-weight: bold">
        Turno: <%= @round.number %><br>
        <%= @round.phase.upcase_first %>
      </span>
    </td>
  </tr>
  <tr>
    <td style="text-align:center">
      <info class="tooltip">
      <tip>Creditos e Income</tip>
        <%= image_tag ('squads/credits.png'), style: "width: 50px; align: right; vertical-align: top" %>
      </info>
    </td>
    <td>
      <span style="color: yellow; font-size: 13px">
        <%= @squad_credits %><br>
      </span>
      <span style="color: yellow">
        +<%= @squad_income %>
      </span>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center">
      <info class="tooltip">
      <tip>Unidades do XWA</tip>
        <%= link_to (image_tag ('squads/units.png'), style: "width: 50px; align: left"), units_index_path %>
      </info>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center">
      <info class="tooltip">
      <tip>Combates</tip>
        <%= link_to (image_tag ('squads/combats.png'), style: "width: 50px; align: left"), results_path %>
      </info>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center">
      <%= simple_form_for @squad do |f| %>
        <%= f.submit 'Pronto!' %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center">
      <br>
      <span style="font-size: 12px; font-weight: bold; text-decoration: blink">
        <%= raw @status %>
      </span>
    </td>
  </tr>
</table>
