<% @planets.each do |planet| %>
  <% pos_x = ( planet.x + @map_x_adjust ) * @map_ratio %>
  <% pos_y = ( planet.y + @map_y_adjust ) * @map_ratio %>
  <% GroupFleet.new(planet).group! %>

  <div id="images" style="position: absolute; left:<%= pos_x %>px; top:<%= pos_y %>px; z-index: 5" >
    <%= image_tag (planet.image), style: "width: 50px" %>
  </div>

  <div id="names" style="position: absolute; left:<%= pos_x %>px; top:<%= pos_y - 25 %>px" >
    <span style="color: white; font-weight: bold; font-size: 12px">
      <%= planet.name %>
    </span>
  </div>

  <div id="planet_income" style="position:absolute; left:<%= pos_x + 55 %>px; top:<%= pos_y - 5 %>px;z-index: 15; white-space: nowrap">
    <span style="color:gray; font-size: 10px; font-weight: bold">
      <info class="tooltip">
      <tip>Income máximo</tip>
        <%= planet.income %>
      </info>
    </span>
  </div>

  <div id="squad_income" style="position:absolute; left:<%= pos_x - 25 %>px; top:<%= pos_y - 5 %>px;z-index: 15; white-space: nowrap">
    <span style="color:yellow;font-size: 10px;font-weight: bold">
      <info class="tooltip">
      <tip>Income ao squad</tip>
        <%= SetIncome.new(@squad, planet).current  %>
      </info>
    </span>
  </div>

  <div id="fleets" class="fleets" style="position:absolute; left:<%= pos_x + 50 %>px; top:<%= pos_y %>px">
    <% planet.fleets_seen_by(@squad).reject { |f| !f.carrier.nil? }.each do |fleet| %>
      <!-- <span style="<%= style(fleet) %>" onclick=showDiv('edit_box','15%','10%')> -->
      <a href = "" onclick="window.open('/fleets/<%= fleet.id %>/edit','<%= fleet.name %> - <%= fleet.planet %>', 'toolbar=no, location=no, scrollbars=yes, resizable=yes, width=400, height=600')">
        <span style="<%= style(fleet) %>">
          <%= show(fleet) %>
        </span>
      </a>
      <!--  <%= link_to show(fleet), edit_fleet_path(fleet), remote: true, style: style(fleet) %> -->

      <% fleet.cargo.each do |cargo| %>
        <br>
        <span style="<%= style(cargo) %>">
          &nbsp &nbsp <%= show(cargo) %>
        </span>
      <% end %>
      <br>
    <% end %>

     <% planet.fog_seen_by(@squad).each do |fleet| %>
       <span style="<%= style_fog(fleet) %>">
         <%= show(fleet) %>
       </span>
       <% fleet.cargo.each do |cargo| %>
         <br>
         <span style="<%= style_fog(cargo) %>">
           &nbsp &nbsp <%= show(cargo) %>
         </span>
       <% end %>
       <br>
     <% end %>
  </div>

<% end %>

<%= render partial: 'fog' %>
