<table width="90%">
  <tr>
    <td><%= image_tag ('squads/yellow01.png'), style: "width: 55%" %></td>
    <td><%= @squad.credits %></td>
    <td><%= image_tag ('squads/plumb01.png'), style: "width: 55%" %></td>
    <td><%= @squad.metals %></td>
    <td><%= image_tag ('squads/blue06.png'), style: "width: 55%" %></td>
    <td><%= @squad.rare_elements %></td>
  </tr>
</table>
