<% @planets.each do |planet| %>

  <div id="planet_image">
    <%= image_tag (planet.image), style: "width: 10%; position: absolute; left:#{ planet.x }%; top:#{ planet.y }%" if planet.sector == 5 %>
  </div>

  <div id="planet_name" style="position: absolute; left:<%= planet.x + 1 %>%; top:<%= planet.y - 3 %>%; font-weight: bold; font-size: 14px">
    <%= planet.name if planet.sector == 5 %>
  </div>

  <% planet.fleets.each do |fleet| %>

    <div id="fleet_image">
      <%= link_to (image_tag (fleet.unit.image), style: "width: 4%; position: absolute; left:#{ planet.x + 11 }%; top:#{ planet.y += 3 }%"), edit_fleet_path(fleet), remote: true %>
    </div>

    <div id="fleet_quantity" style="position: absolute; left:<%= planet.x + 15 %>%; top:<%= planet.y + 2 %>%; color: <%= fleet.squad.color %>; font-weight: bold; font-size: 10px">
      <%= fleet.quantity %>
    </div>

  <% end %>

<% end %>
