<div class="commands">
  <%= render partial: 'commands', object: @squad %>
</div>

<div class="resources">
  <%= render partial: 'resources', object: @squad %>
</div>

<div class="minimap">
  <%= render partial: 'minimap', object: @planets %>
</div>

<div class="main_panel">
  <%= render partial: '/planets/sector' %>
</div>

<div class="right_panel1">

</div>

<div class="right_panel2">
  <%= render partial: '/fleets/moving' %>
</div>
