<div style="display: table; margin: auto; vertical-align: middle;">
  <%= image_tag ('star wars.png'), style: "align: right; vertical-align: top;" %>
  <h2>Novo Esquadrão</h2>

  <div class="users">
    <%= simple_form_for @squad do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, error: 'Please name it', label: 'Nome: ' %>
        <%= f.input :color, collection: @colors, style: 'background:red', label: 'Cor: ' %>
        <%= f.input :faction_id, collection: @factions, label: 'Facção: ' %>
      </div>

      <div class="actions">
        <%= f.submit 'Create Squad' %><br />
      </div>
    <% end %>
  </div>
</div>
