<h2>New Squad</h2>

<%= simple_form_for @squad do |f| %>
  <div class="field">
    <%= f.input :name, error: 'Please name it' %><br />
  </div>

  <div class="field">
    <%= f.input :color, collection: @colors %><br />
  </div>

  <div class="field">
    <%= f.input :faction_id, collection: @factions %><br />
  </div>

  <div class="field">
    <%= f.input :url, placeholder: 'http://' %><br />
  </div>

  <div class="actions">
    <%= f.submit 'Create Squad' %><br />
  </div>
<% end %>
